.app{
  background-color: #4eb426;
  border-color: black;
  border-radius: 12px;
}

.form{
  background-color: #b5ccc4;
  border-radius: 10 px;
  text-align: center;
  align-items: center;
  width: 30%;
}

input{
  padding: 10px;
  margin-top: 20px;
  border-radius: 6px;
  border: none;
}

button{
  margin: 20px;
  background-color: #208dd6;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 35px ;
  
}

.card{
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
  align-items: center;
  width: 30%;
}

.favorite{
  display: inline-block;
  padding:15px 35px;
  background-color: rgb(56, 214, 56);
  color: white;
  text-align: center;
  border: none;
  border-radius: 6px;
}

.error{
  color: red;
  font-size: 1rem;
}